.age-range-main-container {
  margin-top: -10px;
}
.title-container {
  max-width: 100%;
}
.age-range-title {
  width: 100%;
  display: block;
  color: white;
  background-color: $primary-color;
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
  margin: 0 auto;
  font-family: "Lato", sans-serif;

  border: 1px solid white;
  @include breakpoint($from: "sm") {
    width: 100%;
    padding: 25px 40px;
    // margin-left: 6px;
    font-size: 28px;
  }
  @include breakpoint($from: "md") {
    width: 100%;

    padding: 25px 65px;
    // margin-left: -2px;
    font-size: 30px;
  }
  @include breakpoint($from: "lg") {
    display: flex;
    width: 100%;
    padding: 25px 50px;

    font-size: 32px;
  }
}
.age-range-subtitle {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 15px;
  font-size: 17px;
  font-weight: bold;
  background-color: #d7ecf0;
  margin: -8px 1px 10px 0px;
  font-family: "Lato", sans-serif;
  @include breakpoint($from: "sm") {
    width: 100%;
    padding: 33px;
    font-size: 18px;
    margin-left: 0px;
    margin-top: -12px;
  }
  @include breakpoint($from: "md") {
    width: 100%;
    padding: 30px 0px;
    font-size: 19.5px;
    margin-left: -0px;
  }
  @include breakpoint($from: "lg") {
    width: 100%;
    padding: 35px 30px 35px 30px;

    max-height: 91;
    font-size: 20px;
    margin-left: 1px;
    margin-top: -12px;
  }
}
.age-range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 99%;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-right: -20px;
  @include breakpoint($from: "md") {
    width: 100%;
    flex-direction: column;
  }
}

.female-container2 {
  display: flex;
  width: 46.7%;
  flex-direction: column;
  margin-right: 10px;
  @include breakpoint($from: "md") {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.male-container2 {
  display: flex;
  width: 46.7%;
  flex-direction: column;
  margin-right: 7px;

  @include breakpoint($from: "md") {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.age-range-box {
  width: 105%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  margin: 2px 0px;
  padding: 4px 0px;

  border: 3px solid $secondary-color;
  border-radius: 8px;

  @include breakpoint($from: "sm") {
    height: 66px;
    padding-left: 10px;
  }
  @include breakpoint($from: "md") {
    height: 200px;
    max-width: 160px;
    width: 100%;

    margin: 6px 6px;
    flex-direction: column;
    border: 5px solid $secondary-color;
    padding: 4px 0px;
  }
  @include breakpoint($from: "lg") {
    height: 200px;
    max-width: 163px;
    width: 100%;

    margin: 6px 6px;
    flex-direction: column;
    border: 5px solid $secondary-color;
    padding: 4px 0px;
  }

  p {
    font-weight: 900;
    font-size: 20px;
    margin: 10px 0px;
    padding: 0px 15px;
    padding-right: 15%;
    color: $secondary-color;
    text-align: center;
    @include breakpoint($from: "sm") {
      font-size: 21px;
      padding-right: 30%;
    }
    @include breakpoint($from: "md") {
      font-size: 23px;
      padding-right: 10%;
    }
    @include breakpoint($from: "lg") {
      font-size: 23px;
      padding-right: 10%;
    }
  }
}
.age-range-box:hover {
  background-color: $secondary-color;
  p {
    color: white;
  }
}
.female-age-1 {
  position: relative;
  z-index: 2;

  // border-radius:50%;
  // background:$primary-color;
}

.img-container {
  position: relative;
  height: 55px;
  overflow: hidden;
  width: 55px;
  border-radius: 50%;
  background: $primary-color;
  margin-left: 5px;

  @include breakpoint($from: "sm") {
    height: 55px;
    width: 55px;
  }
  @include breakpoint($from: "md") {
    margin: 15px 0px 0px 0px;
    height: 120px;
    width: 120px;
  }

  img {
    position: relative;
    // overflow: hidden;
    // object-fit:;
    transform: scale(2);

    margin: 20px 0px 10px 0px;
    padding: -15px 0px 0px 0px;
    height: 54px;
    width: 54px;

    @include breakpoint($from: "sm") {
      transform: scale(2.1);
      margin: 20px 0px 10px 1px;
    }
    @include breakpoint($from: "md") {
      transform: scale(2.9);

      height: 160px;
      margin: 16px 0px 10px 32px;
    }
  }
}
