.footer-cta {
  color: white;
  background-color: $secondary-color;
  font-weight: 900;
  padding: 20px 40px;
  max-height: 300px;
  text-align: center;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  @include breakpoint($from: "md") {
    padding: 30px;
    font-size: 24px;
  }
  @include breakpoint($from: "lg") {
    padding: 30px;
    font-size: 26px;
  }
}
.footer-container {
  bottom: 0;
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  @include breakpoint($from: "lg") {
  }
}

.footer-address {
  font-weight: 700;
  font-size: 12px;
  padding-top: 20px;
  letter-spacing: -0.5px;
  @include breakpoint($from: "sm") {
    display: flex;
    text-align: left;

    font-size: 13px;
    padding: 0px 30px;
  }
  @include breakpoint($from: "lg") {
    display: flex;
    text-align: left;
    font-size: 17px;
    padding: 10px 75px 10px 10px;
    margin: 0px 0px -25px 10px;

    h4 {
      font-size: 18px;
      margin-bottom: -3px;
      @include breakpoint($from: "sm") {
        margin-bottom: 0px;
      }
      @include breakpoint($from: "lg") {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
    // div {
    //   line-height: -1;
    //   padding: 0px 140px;
    //   font-size: 15px;
    //   font-weight: 900;
    //   font-family: "Lato", sans-serif;
    // }
  }
}
.footer-address-seperator {
  @include breakpoint($from: "sm") {
    padding: 20px 30px;
  }
  @include breakpoint($from: "md") {
    padding: 15px 80px;
    margin-left: 20px;
  }
  @include breakpoint($from: "lg") {
    padding: 20px 120px;
    margin-left: 20px;
  }
}
.footer-address-seperator2 {
  @include breakpoint($from: "sm") {
    padding: 20px 30px;
  }
  @include breakpoint($from: "md") {
    padding: 15px 90px;
  }
  @include breakpoint($from: "lg") {
    padding: 20px 130px;
  }
}
.footer-addresses-text {
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-top: -10px;
  @include breakpoint($from: "sm") {
    font-size: 15px;
    margin-top: -9px;
  }
  @include breakpoint($from: "lg") {
    display: flex;

    text-align: left;
    font-size: 14x;
    margin-top: -6px;
  }
}

.t-c {
  border-top: 1px solid white;
  width: 84%;
  padding: 20px;
  font-size: 11px;
  @include breakpoint($from: "md") {
    width: 780px;
  }
  @include breakpoint($from: "lg") {
    width: 940px;
  }
  p {
    font-size: 12px;
    @include breakpoint($from: "sm") {
      font-size: 16px;
    }
  }
}
