body {
  font-family: "Lato", sans-serif;
}
.header-title {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}

.header-container {
  font-family: "Lato", sans-serif;

  width: 100%;

  margin: 10px auto;

  @include breakpoint($from: "lg") {
    border-bottom: 1px solid #bbb;
  }

  img {
    width: 55%;

    padding: 3px 28px;
    @include breakpoint($from: "sm") {
      width: 55%;
      height: auto;
      padding: 10px 50px;
    }
    @include breakpoint($from: "md") {
      width: 55%;
      padding: 10px 50px;
      max-width: 249px;
    }
    @include breakpoint($from: "lg") {
      height: 53px;
      padding: 10px;
      max-width: 294px;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  button {
    display: none;
    @include breakpoint($from: "lg") {
      display: flex;
      font-family: "Lato", sans-serif;
      font-weight: 900;
      padding: 11px 40px;
      margin: 10px 0px;
      font-size: 24px;
      border-radius: 6px;
      color: white;
      background-color: $primary-color;
    }
  }
}

.border {
  width: 100vw;
  padding-top: 50px;
  border: 1px solid grey;
}
.advert {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  @include breakpoint($from: "sm") {
    font-weight: 500;
  }
  @include breakpoint($from: "md") {
    font-weight: 400;
    font-size: 1.25rem;
  }
  @include breakpoint($from: "lg") {
    // display: none;
  }
}
