.how {
  display: flex;
  flex-direction: column;
  span {
    color: white;
    font-size: 22px;
    font-weight: 900;
    padding: 3px 8px 0px 7px;
    margin-right: 5px;
    background-color: $primary-color;
    border-radius: 50%;
    height: 25px;
  }
  b {
    color: $primary-color;
  }

  img {
    margin-bottom: 15px;
  }
}

.how-list {
  display: flex;
  flex-direction: column;
}
.how-list-flex {
  display: flex;
  @include breakpoint($from: "lg") {
    font-size: 22px;
  }
  p {
    font-weight: 500;
    padding-right: 5px;
    line-height: 1.2;

    font-size: 1.21rem;

    @include breakpoint($from: "sm") {
      padding: 0px;
      line-height: 1.1;
      font-size: 19px;
      padding: 2px 0px 0px 06px;
      margin-bottom: 15px;
    }
    @include breakpoint($from: "md") {
      padding: 0px;
      line-height: 1.1;
      font-size: 21px;
      padding: 2px 25px 0px 6px;
      margin-bottom: 15px;
    }
    @include breakpoint($from: "lg") {
      padding: 0px;

      font-size: 22.5px;
      padding: 2px 15px 0px 6px;
    }
  }
}
.how-partners-title {
  line-height: 1.6;
  @include breakpoint($from: "md") {
    font-size: 20px;
    padding-right: 20px;
  }
  @include breakpoint($from: "lg") {
    font-size: 21px;
    padding-right: 20px;
  }
}
