.icons {
  display: flex;
  padding: 15px 0px;

  border-top: 1px solid #bbb;

  @include breakpoint($from: "lg") {
    border-top: 0px;
  }
  img {
    height: 26px;
    padding: 0px 2px;
    @include breakpoint($from: "md") {
      padding: 0px 4px;
    }
  }
}
.breadcrumbs {
  display: flex;
  img {
    height: 35px;
    padding: 5px;
  }
  b {
    color: $primary-color;
    font-weight: 500;
  }
  p {
    font-size: 11px;
    line-height: 1.1;
    padding: 8px;
    font-weight: 400;
    @include breakpoint($from: "lg") {
      font-size: 14px;
    }
  }
}
