.subscribe-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 350px;
  background-color: rgb(95, 93, 93);
  margin: 250px auto;
  border-radius: 3px;
  padding: 10px;

  h5 {
    color: white;
    font-size: 22px;
    margin-left: 10px;
  }

  p {
    color: white;
    background-color: red;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    width: 87%;
  }
  form {
    display: flex;
    flex-direction: column;

    justify-content: center;

    b {
      color: red;
    }
    label {
      color: white;
      font-weight: bold;
      font-size: 15px;
      margin-left: 10px;
    }
    input {
      margin: 10px;
      width: 87%;
      border-radius: 5px;
      padding: 5px;
    }
    button {
      margin: 10px;
      width: 90%;
      border-radius: 5px;
      padding: 10px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      background-color: getColor("blue");
    }
    .success {
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
      background-color: rgb(15, 207, 57);
    }
  }
}
.error {
  color: red;
}
h7 {
  color: white;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
  margin-left: 10px;
}
