//_colors.scss

//looping through each $colors and creating color classes
//by calling createClassesForcolor( $colorName, $colorVal, $colorShadeName: null ) mixin
@each $value in $colors {
  //getting name and value for color classes
  $colorName: nth($value, 1);
  $colorVal: nth($value, 2);

  //if value is a color, set the class and value
  @if type-of($colorVal) == 'color' {
    //creating color class
    @include createClassesForcolor( $colorName, $colorVal );

    //if value is a map, loop through all the colors
  } @else if type-of($colorVal) == 'map' {
    //removing base for shade looping
    $colorShades: map-remove($colorVal, 'base');

    //creating color class
    @include createClassesForcolor( $colorName, map-get($colorVal, 'base') );

    //looping through shades
    @each $shade in $colorShades {
      //getting name and value for color shade classes
      $shadeName: nth($shade, 1);
      $shadeVal: nth($shade, 2);

      //creating color class
      @include createClassesForcolor( $colorName, $shadeVal, $shadeName );

    }

  //not color or map so error as invalid color value
  } @else {
    @error 'Invalid color value';
  }
}


// Info color classes ---------------------------------------------------------

// .warning { color: getColor('red', 'light');}
// .info { color: getColor('blue', 'light');}
// .success { color: getColor('green', 'light');}
//
// .warning-bg { background: getColor('red', 'light'); color: white;}
// .info-bg { background: getColor('blue', 'light'); color: white;}
// .success-bg { background: getColor('green', 'light'); color: white;}
