//_config_vars_merger.scss

//merging config vars

@if variable-exists(local-grid) {
  $grid: destructive-map-merge($grid, $local-grid);
}

@if variable-exists(local-fontFaces) {
  $fontFaces: non-destructive-map-merge($fontFaces, $local-fontFaces);
}

@if variable-exists(local-fontStyles) {
  $fontStyles: non-destructive-map-merge($fontStyles, $local-fontStyles);
}

@if variable-exists(local-fontSizes) {
  $fontSizes: non-destructive-map-merge($fontSizes, $local-fontSizes);
}

@if variable-exists(local-responsiveFontSizes) {
  $responsiveFontSizes: destructive-map-merge(
    $responsiveFontSizes,
    $local-responsiveFontSizes
  );
}

@if variable-exists(local-colors) {
  $colors: non-destructive-map-merge($colors, $local-colors);
}

@if variable-exists(local-gradients) {
  $gradients: non-destructive-map-merge($gradients, $local-gradients);
}

@if variable-exists(local-shadowColour) {
  $shadowColour: $local-shadowColour;
}

@if variable-exists(local-shadowDepths) {
  $shadowDepths: non-destructive-map-merge($shadowDepths, $local-shadowDepths);
}

@if variable-exists(local-paddings) {
  $paddings: non-destructive-map-merge($paddings, $local-paddings);
}

@if variable-exists(local-margins) {
  $margins: non-destructive-map-merge($margins, $local-margins);
}

@if variable-exists(local-formSpacer) {
  $formSpacer: $local-formSpacer;
}
