//_fonts.scss

// Responsive font styles ------------------------------------------------------

//looping through $grid breakpoints and then if there is
//font size for the $screen within $responsiveFontSize, set it
//more elegant than looping through each $responsiveFontSiz and then
//setting breakpoint per each size of each tag
//instead, all tags are grouped under 1 $screen breakpoint
@each $value in map-get($grid, 'breakpoints') {
  $screen: nth($value, 1);

  //first breakpoint, do not attach any media query
  @if( index(map_keys(map-get($grid, 'breakpoints')), $screen) == 1 ) {
    @include createFontSizesForScreen( $screen );
  //setting breakpoint and then text sizes
  } @else {
    @include breakpoint($from: $screen) {
      @include createFontSizesForScreen( $screen );
    }
  }
}

// Font style classes ----------------------------------------------------------

//looping through each $fontStyles and creating font style classes
//by calling font-style( $name ) mixin
@each $name, $style in $fontStyles {
  .font-#{$name} {
    @include font-style( $name );
  }
}

// Font size classes -----------------------------------------------------------

//looping through each $fontSizes and creating font size classes
@each $fontSize in $fontSizes {
  $size: nth($fontSize, 1);
  $sizeVal: nth($fontSize, 2);

  .font-#{$size} {
    font-size: $sizeVal;
  }

}
