//_grid.scss

$columnSpace: map-get($grid, 'columnSpacing') / 2;
$rowNegativeMargin: map-get($grid, 'columnSpacing') / 2 * -1;
$spacingHalvingPoint: map-get($grid, 'spacingHalvingPoint');

.hide {
  display: none !important;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.container {
  width: 100%;
  max-width: 100%;
  padding-left: $columnSpace;
  padding-right: $columnSpace;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @if ($spacingHalvingPoint!= null) {
    @include breakpoint($to: '#{$spacingHalvingPoint}') {
      padding-left: $columnSpace/2;
      padding-right: $columnSpace/2;
    }
  }

  &.fluid {
    width: 100%;
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: $rowNegativeMargin;
  margin-right: $rowNegativeMargin;
  position: relative;

  @if ($spacingHalvingPoint!= null) {
    @include breakpoint($to: $spacingHalvingPoint) {
      margin-left: $rowNegativeMargin/2;
      margin-right: $rowNegativeMargin/2;
    }
  }

  &.fullwidth {
    flex: 1 auto auto;
  }
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;

  &:not(.no-padding) {
    padding-left: $columnSpace;
    padding-right: $columnSpace;

    @if ($spacingHalvingPoint!= null) {
      @include breakpoint($to: '#{$spacingHalvingPoint}') {
        padding-left: $columnSpace/2;
        padding-right: $columnSpace/2;
      }
    }

    &.padding-equal {
      padding-top: $columnSpace;
      padding-bottom: $columnSpace;

      @if ($spacingHalvingPoint!= null) {
        @include breakpoint($to: '#{$spacingHalvingPoint}') {
          padding-top: $columnSpace/2;
          padding-bottom: $columnSpace/2;
        }
      }
    }
  }
}

.box {
  width: 100%;
  min-height: 400px;
  background: pink;
  border: 1px solid red;
  box-sizing: border-box;
}

.panel {
  padding: getPaddingVal('md');
  overflow: hidden;
  background: getColor('grey', 'lighter');

  &:not(.no-margin-bottom) {
    margin-bottom: getMarginVal('md');
  }
}

//looping through each breakpoint to define column classes for each $screen
@each $value in map-get($grid, 'breakpoints') {
  $screen: nth($value, 1);

  //first breakpoint, do not attach any media query
  @if (index(map_keys(map-get($grid, 'breakpoints')), $screen) == 1) {
    @include createColumnsForScreen($screen);
  } @else {
    @include breakpoint($from: $screen) {
      //if column defined for this breakpoint, set it
      @if (index(map_keys(map-get($grid, 'columnSizes')), $screen) != null) {
        $colWidth: map-get(map-get($grid, 'columnSizes'), $screen);

        .container {
          width: $colWidth;
          max-width: $colWidth;
        }
      }

      @include createColumnsForScreen($screen);
    }
  }
}

//looping through each breakpoint to define display classes
@each $value in map-get($grid, 'breakpoints') {
  $screen: nth($value, 1);

  //first breakpoint, do not attach any media query
  @if (index(map_keys(map-get($grid, 'breakpoints')), $screen) > 1) {
    @include breakpoint($from: $screen) {
      .show-for-#{$screen}-up {
        display: block !important;
      }

      .show-flex-for-#{$screen}-up {
        display: flex !important;
      }

      .show-inline-for-#{$screen}-up {
        display: inline !important;
      }

      .hide-for-#{$screen}-up {
        display: none !important;
      }
    }
  }

  @if (
    index(map_keys(map-get($grid, 'breakpoints')), $screen) <
      length(map-get($grid, 'breakpoints'))
  ) {
    $nextIndex: (index(map_keys(map-get($grid, 'breakpoints')), $screen) + 1);
    $nextScreenSet: nth(map-get($grid, 'breakpoints'), $nextIndex);
    $nextScreen: nth($nextScreenSet, 1);

    @include breakpoint($from: $screen, $to: $nextScreen) {
      .show-for-#{$screen}-only {
        display: block !important;
      }

      .show-flex-for-#{$screen}-only {
        display: flex !important;
      }

      .show-inline-for-#{$screen}-only {
        display: inline !important;
      }

      .hide-for-#{$screen}-only {
        display: none !important;
      }
    }
  }
}

//Flex aligns
$algns: ('stretch', 'flex-start', 'flex-end', 'center', 'baseline');
@each $algn in $algns {
  .align-content-#{$algn} {
    justify-content: #{$algn};
  }
  .align-items-#{$algn} {
    align-items: #{$algn};
  }
  .align-self-#{$algn} {
    align-self: #{$algn};
  }
}

$justifies: (
  'flex-start',
  'flex-end',
  'center',
  'space-between',
  'space-around',
  'space-evenly'
);
@each $justify in $justifies {
  .justify-content-#{$justify} {
    justify-content: #{$justify};
  }
}

$directions: (
  'row',
  'row-reverse',
  'column',
  'column-reverse'
); //flex-direction
@each $direction in $directions {
  .flex-direction-#{$direction} {
    flex-direction: #{$direction};
  }
}

$wraps: ('nowrap', 'wrap', 'wrap-reverse');
@each $wrap in $wraps {
  .flex-wrap-#{$wrap} {
    flex-wrap: #{$wrap};
  }
}
