//_mixins.scss

// Grid Mixins -----------------------------------------------------------------

//gets the lowest breakpoint for screen i.e. sm, lg, xl
@function getBreakpointLowVal($screen) {
  $breakpoints: map-get($grid, 'breakpoints');
  $breakpoint: map-get($breakpoints, $screen);
  $index: index(map-keys($breakpoints), $screen);

  //if the breakpoint is the smallest one, return null
  //used for @mixin breakpoint as null won't set $from value
  @return if($index > 1, $breakpoint, null);
}

//gets the highest breakpoint for the screen i.e. sm, lg, xl
//the highest breakpoint is the next breakpoint up - 1px
@function getBreakpointHighVal($screen) {
  $breakpoints: map-get($grid, 'breakpoints');
  $breakpoint: map-get($breakpoints, $screen);
  $index: index(map-keys($breakpoints), $screen);

  //if the breakpoint is lower than the biggest one,
  //return the next breakpoint value - 1px
  @if $index < length($breakpoints) {
    $nextName: nth(map-keys($breakpoints), $index + 1);
    $nextBreakpoint: map-get($breakpoints, $nextName);
    @return $nextBreakpoint - 1px;

    //the biggest/last breakpoint, return null
    //used for @mixin breakpoint as null won't set $to value
  } @else {
    @return null;
  }
}

//if $screen isn't null, value gets passed to getBreakpointLowVal
//otherwise sends null, getBreakpointLowVal can also return null
//used to @mixin breakpoint can decide if $fromVal is available
@function getBreakpointFromVal($screen: null) {
  @return if($screen, getBreakpointLowVal($screen), null);
}

//if $screen isn't null, value gets passed to getBreakpointHighVal
//otherwise sends null, getBreakpointHighVal can also return null
//used to @mixin breakpoint can decide if $toVal is available
@function getBreakpointToVal($screen: null) {
  @return if($screen, getBreakpointHighVal($screen), null);
}

//building media query depending whether $from and $to is passed
//and if $fromVal and $toVal can be actually calculated
@mixin breakpoint($from: null, $to: null) {
  $fromVal: getBreakpointFromVal($from);
  $toVal: getBreakpointToVal($to);

  //both, $fromVal and $toVal are valid so setting min and max width breakpoint
  @if $fromVal and $toVal {
    @media (min-width: $fromVal) and (max-width: $toVal) {
      @content;
    }

    //only $fromVal is valid, setting min width breakpoint
  } @else if $fromVal {
    @media (min-width: $fromVal) {
      @content;
    }

    //only $toVal is valid, setting max width breakpoint
  } @else if $toVal {
    @media (max-width: $toVal) {
      @content;
    }

    //no values are valid i.e passed lowest $from and highest $to,
    //passing pure css with no media query and warnings
  } @else {
    //@content;

    //warnings
    @if $from and $to {
      @warn "Breakpoint between #{$from} and #{$to} cannot be declared";
    } @else if $to {
      @warn "Breakpoint to #{$to} cannot be declared";
    } @else if $from {
      @warn "Breakpoint from #{$from} cannot be declared";
    }
  }
}

//creating columns for passed $screen i.e. xs (xs-1 - xs-12)
//also creating columns offset classed for $screen i.e. ix (xs-offset-1 = xs-offset-12)
@mixin createColumnsForScreen($screen) {
  $columns: map-get($grid, 'columns');

  //loop for column classes
  @for $i from 1 through $columns {
    .col.#{$screen}-#{$i} {
      flex: 0 0 (100% / $columns) * $i;
      max-width: (100% / $columns) * $i;
    }
  }

  //loop for column offset classes
  @for $i from 0 through $columns {
    .col.#{$screen}-push-#{$i} {
      @if $i == 0 {
        margin-left: 0;
      } @else {
        margin-left: (100% / $columns) * $i;
      }
    }

    .col.#{$screen}-pull-#{$i} {
      @if $i == 0 {
        margin-right: 0;
      } @else {
        margin-right: (100% / $columns) * $i;
      }
    }
  }
}

// Font Mixins -----------------------------------------------------------------

//gets the font family
@function getFontFamily($fontFaceName) {
  //get the fontface values (family and type)
  $fontFace: map-get($fontFaces, $fontFaceName);

  //if no font, error
  @if $fontFace == null {
    @error 'Font #{$fontFaceName} is not spefified in the _config_vars';

    //font exists, get family and type valie and return it
  } @else {
    $fontFamily: map-get($fontFace, 'family');
    $fontType: map-get($fontFace, 'type');
    @return #{$fontFamily}, #{$fontType};
  }
}

//gets the font size value from $fontSizes
@function getFontSizeVal($size) {
  $fontSize: map-get($fontSizes, $size);

  @if $fontSize == null {
    @error 'No #{$size} font size specified in thr config_vars';
  } @else {
    @return $fontSize;
  }
}

//loops through $responsiveFontSize and sets size for each tag for $screen
//if such $screen was set
@mixin createFontSizesForScreen($screen) {
  //looping through $responsiveFontSizes
  @each $responsiveFontSize in $responsiveFontSizes {
    $tag: nth($responsiveFontSize, 1);
    $tagSizing: nth($responsiveFontSize, 2);
    $sizeVals: map-get($tagSizing, $screen);

    //if size set for this screen i.e. xs or md
    @if ($sizeVals) {
      #{$tag} {
        font-size: map-get($sizeVals, 'size');
        line-height: map-get($sizeVals, 'line-height');
      }
    }
  }
}

//mixin setting the font fontStyle
@mixin font-style($fontStyleName) {
  //get the config object for the $fontStyleName
  $styleConfig: map-get($fontStyles, $fontStyleName);

  //looping through every property to set it
  @each $fontProperty in $styleConfig {
    $property: nth($fontProperty, 1);
    $value: nth($fontProperty, 2);

    //if property is family, extract it from fontfaces config
    //using getFontFamily( $fontFaceName )
    @if $property == 'family' {
      font-#{$property}: #{getFontFamily($value)};
      //setting standard value set in the $fontStyles config
    } @else {
      font-#{$property}: #{$value};
    }
  }
}

// color Mixins ---------------------------------------------------------------

//gets the color value
@function getColor($colorName, $shade: null) {
  //get the color object for the $colors
  $color: map-get($colors, $colorName);

  //if no color
  @if $color == null {
    @error 'color #{$colorName} is not spefified in the _config_vars';
  } @else {
    //if more than one value, loop through shades
    @if type-of($color) == 'map' {
      //if shade not specified, pick base
      @if $shade == null {
        $baseVal: map-get($color, 'base');

        @if $baseVal == null {
          @error '#{$colorName} color has single item in the object which is not base';
        } @else {
          @return $baseVal;
        }
        //shade spefivied so pick it from the map
      } @else {
        $shadeVal: map-get($color, $shade);

        @if $shadeVal == null {
          @error 'Shade #{$shade} for #{$colorName} is not spefified in the _config_vars';
        } @else {
          @return $shadeVal;
        }
      }
      //only base color so send the hex
    } @else {
      @return $color;
    }
  }
}

//creating color classes for passed $color or $shade
@mixin createClassesForcolor($colorName, $colorVal, $colorShadeName: null) {
  //setting class color or color-subcolor if $colorShadeName exists
  $colorClass: if(
    $colorShadeName,
    #{$colorName}-#{$colorShadeName},
    $colorName
  );

  .color-#{$colorClass} {
    color: $colorVal;
  }

  .bg-#{$colorClass} {
    background-color: $colorVal;
  }
}

//gets the gradient value
@function getGradient($gradientName) {
  //get the color object for the $colors
  $gradient: map-get($gradients, $gradientName);
  //if no color
  @if $gradient == null {
    @error 'Gradient #{$gradientName} is not spefified in the _config_vars';
  } @else {
    @return $gradient;
  }
}

// Padding Mixins --------------------------------------------------------------

//gets the padding value from $paddings
@function getPaddingVal($size) {
  $padding: map-get($paddings, $size);

  @if $padding == null {
    @error 'No #{$size} padding specified in thr config_vars';
  } @else {
    @return $padding;
  }
}

// Margin Mixins ---------------------------------------------------------------

//gets the margin value from $margins
@function getMarginVal($size) {
  $margin: map-get($margins, $size);

  @if $margin == null {
    @error 'No #{$size} margin specified in thr config_vars';
  } @else {
    @return $margin;
  }
}

// Eases Mixins -----------------------------------------------------------------
@mixin transition($prop, $time: 0.3s, $ease: ease-in-out, $delay: null) {
  -webkit-transition: $prop $time $ease $delay;
  -moz-transition: $prop $time $ease $delay;
  -ms-transition: $prop $time $ease $delay;
  -o-transition: $prop $time $ease $delay;
  transition: $prop $time $ease $delay;
}

@mixin transition-basic($prop) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -ms-transition: $prop;
  -o-transition: $prop;
  transition: $prop;
}

// Transform Mixing -------------------------------------------------------------
@mixin transform-basic($prop) {
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -ms-transform: $prop;
  -o-transform: $prop;
  transform: $prop;
}

// Shadow Mixins
//gets depth values
@function getShadowDepth($depth) {
  $shadowDepth: map-get($shadowDepths, $depth);

  @if $shadowDepth == null {
    @error 'No #{$depth} shadow depth specified in thr config_vars';
  } @else {
    @return $shadowDepth;
  }
}

//creates box shadow style
@mixin box-shadow($depth, $inner: null) {
  -webkit-box-shadow: if($inner, inset, null) #{getShadowDepth($depth)};
  -moz-box-shadow: if($inner, inset, null) #{getShadowDepth($depth)};
  box-shadow: if($inner, inset, null) #{getShadowDepth($depth)};
}

@mixin box-shadow-basic($prop) {
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
  -ms-box-shadow: $prop;
  -o-box-shadow: $prop;
  box-shadow: $prop;
}

//creates filter style
@mixin filter($filter-type, $filter-amount) {
  -webkit-filter: $filter-type + unquote('(#{$filter-amount})');
  -moz-filter: $filter-type + unquote('(#{$filter-amount})');
  -ms-filter: $filter-type + unquote('(#{$filter-amount})');
  -o-filter: $filter-type + unquote('(#{$filter-amount})');
  filter: $filter-type + unquote('(#{$filter-amount})');
}

//creates box shadow style
@mixin border-radius($radius) {
  -webkit-border-radius: #{$radius};
  -moz-border-radius: #{$radius};
  border-radius: #{$radius};
}

//extending config vars
@function map-set($map, $key, $value) {
  $new: (
    $key: $value
  );
  @return map-merge($map, $new);
}

@function destructive-map-merge($parent-map, $child-map) {
  @each $key, $value in $child-map {
    @if (not map-has-key($parent-map, $key)) or
      (type-of(map-get($parent-map, $key)) != type-of($value)) or
      (
        not
          (
            type-of(map-get($parent-map, $parent-map)) ==
              map and
              type-of($value) ==
              map
          )
      )
    {
      $parent-map: map-set($parent-map, $key, map-get($child-map, $key));
    }
  }
  @return $parent-map;
}

@function non-destructive-map-merge($parent-map, $child-map) {
  $result: $parent-map;
  @each $key, $value in $child-map {
    @if (not map-has-key($result, $key)) or
      (type-of(map-get($result, $key)) != type-of($value)) or
      (not (type-of(map-get($result, $key)) == map and type-of($value) == map))
    {
      $result: map-merge(
        $result,
        (
          $key: $value
        )
      );
    } @else {
      $result: map-merge(
        $result,
        (
          $key: non-destructive-map-merge(map-get($result, $key), $value)
        )
      );
    }
  }
  @return $result;
}
