.footer-background {
  height: 50px;
  background-color: getColor("blue");
  @include breakpoint($from: "md") {
    height: 70px;
  }
}

.footer-container {
  padding: 5px;
}
.rights {
  color: white;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: -7px;
  @include breakpoint($from: "md") {
    font-size: 15px;
  }
}
.t-c {
  color: white;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  @include breakpoint($from: "md") {
    font-size: 13px;
  }
}
