.header-background {
  background-color: getColor("blue");
  height: 70px;
  width: 100vw;
  @include breakpoint($from: "sm") {
    height: 50px;
  }
  @include breakpoint($from: "md") {
    height: 60px;
  }
}
.header-container {
  display: flex;
  flex-direction: column;
  height: 70px;
  color: white;

  background-color: getColor("blue");
  @include breakpoint($from: "sm") {
    height: 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  @include breakpoint($from: "md") {
    height: 60px;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  p {
    padding-top: 6px;
    font-size: 10px;
    font-weight: 900;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    @include breakpoint($from: "sm") {
      margin: auto 5px;
      font-size: 12px;
    }
  }
  img {
    height: 50%;
    margin: 5px auto 0px auto;
    @include breakpoint($from: "sm") {
      height: 60%;
      margin: auto 7px;
    }
  }
}
