body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border: 4px solid lightgrey;
  @include breakpoint($from: "sm") {
    padding: 15px;
  }
  @include breakpoint($from: "md") {
    padding: 20px;
  }
  @include breakpoint($from: "md") {
    padding: 20px;
  }
}
.breadcrumbs {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-top: 10px;
  @include breakpoint($from: "md") {
    font-size: 14px;
  }
}
.bold-breadcrumbs {
  color: getColor("blue");
}
.breadcrumbs-img {
  height: 6px;
  margin: auto 4px;
}
.title {
  font-size: 34px;
  font-family: "Lato", sans-serif;
  @include breakpoint($from: "sm") {
    font-size: 26px;
  }
  @include breakpoint($from: "md") {
    font-size: 28px;
  }
  @include breakpoint($from: "lg") {
    font-size: 50px;
  }
}
.subtitle {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: getColor("blue", "dark");
  @include breakpoint($from: "sm") {
    font-size: 22px;
  }
  @include breakpoint($from: "lg") {
    font-size: 25px;
  }
}

.insurance-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 7px;
  @include breakpoint($from: "sm") {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  p {
    font-size: 14px;
    margin: auto 2px;
    @include breakpoint($from: "sm") {
      font-size: 10px;
    }
    @include breakpoint($from: "md") {
      font-size: 12px;
    }
    @include breakpoint($from: "lg") {
      font-size: 13.5px;
    }
  }
  span {
    display: none;
    @include breakpoint($from: "sm") {
      display: flex;
      font-family: "Lato", sans-serif;
      box-sizing: border-box;
      font-size: 12.5px;
      font-weight: 900;
      color: white;
      background-color: getColor("blue");
      padding: 6px 14px;
      margin: 3px 0px;
    }
    @include breakpoint($from: "md") {
      font-size: 14px;
    }
    @include breakpoint($from: "lg") {
      font-size: 17px;
    }
  }
  b {
    color: getColor("blue", "dark");
  }
}

.content-split {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  @include breakpoint($from: "md") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.content-box {
  p {
  }
}
.passport {
  width: 100%;
}
.content-box-1 {
  h5 {
    font-size: 18px;
    line-height: 1.4;
    @include breakpoint($from: "sm") {
      font-size: 14px;
    }
    @include breakpoint($from: "md") {
      font-size: 15px;
    }
    @include breakpoint($from: "lg") {
      font-size: 20px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.3;
    margin: 10px 0px;
    @include breakpoint($from: "sm") {
      font-size: 14.3px;
    }
    @include breakpoint($from: "md") {
      font-size: 15.7px;
    }
    @include breakpoint($from: "lg") {
      font-size: 20px;
    }
  }
}
.headers {
  font-size: 20px;
  @include breakpoint($from: "sm") {
    font-size: 18px;
    margin: 5px 0px;
  }
  @include breakpoint($from: "md") {
    font-size: 18px;
  }
  @include breakpoint($from: "lg") {
    font-size: 27px;
  }
}
.content-box-2 {
  margin: 20px 0px;
  p {
    font-size: 18px;
    line-height: 1.3;
    margin: 10px 0px;
    @include breakpoint($from: "sm") {
      font-size: 14.3px;
    }
    @include breakpoint($from: "md") {
      font-size: 15.9px;
    }
    @include breakpoint($from: "lg") {
      font-size: 20px;
    }
  }
}
.testimonial-container {
  padding: 15px;
  border: 1.5px solid lightgray;
  box-sizing: border-box;
  margin: 20px 0px;
  @include breakpoint($from: "sm") {
    padding: 15px 25px;
  }
  @include breakpoint($from: "md") {
    padding: 15px 25px;
    margin: 20px 60px;
  }
  @include breakpoint($from: "lg") {
    padding: 25px 25px;
    margin: 30px 90px;
  }
  div {
    display: flex;
  }
  img {
    border-radius: 50%;
    height: 50px;
    @include breakpoint($from: "sm") {
      height: 35px;
    }
    @include breakpoint($from: "md") {
      height: 45px;
    }
    @include breakpoint($from: "lg") {
      height: 50px;
    }
  }
  span {
    margin: auto 10px;
    font-weight: bold;
    font-size: 20px;
    @include breakpoint($from: "sm") {
      font-size: 15px;
    }
    @include breakpoint($from: "md") {
      font-size: 16px;
    }
    @include breakpoint($from: "md") {
      font-size: 19px;
    }
  }
  p {
    padding-top: 10px;
    font-size: 17px;
    @include breakpoint($from: "sm") {
      font-size: 13.7px;
    }
    @include breakpoint($from: "md") {
      font-size: 15px;
      line-height: 1.3;
    }
    @include breakpoint($from: "md") {
      font-size: 19px;
      line-height: 1.3;
    }
  }
  u {
    font-weight: bold;
    color: getColor("blue", "dark");
  }
}

.get-started-title {
  p {
    font-size: 18px;
    font-weight: bold;
    @include breakpoint($from: "sm") {
      font-size: 14px;
    }
    @include breakpoint($from: "lg") {
      font-size: 22px;
    }
  }
}
.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: rgba(38, 182, 207, 0.959);
  @include breakpoint($from: "sm") {
    flex-direction: row;
    padding: 10px;
    margin: 10px 0px;
    justify-content: space-between;
  }
  @include breakpoint($from: "lg") {
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    padding: 10px 20px 10px 10px;
  }

  p {
    text-align: center;
    color: white;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    font-size: 34px;
    margin-top: -15px;

    @include breakpoint($from: "sm") {
      font-size: 25px;
      margin-top: -10px;
    }
    @include breakpoint($from: "lg") {
      font-size: 32px;
      margin: -5px 0px 0px 15px;
    }
  }
  .img-background {
    background-color: white;
    border-radius: 20px;
    position: relative;
    margin: 15px 0px;
    @include breakpoint($from: "sm") {
      height: 160px;

      padding: 3px;
      margin: 5px;
      border-radius: 20px;
      margin-bottom: 10px;
    }
    @include breakpoint($from: "lg") {
      height: 180px;
      padding: 20px;
      margin: 20px 10px 10px 20px;
    }
  }
  img {
    transform: scale(0.9);
    margin: 0px auto;
    width: 190px;
    border-radius: 20px;
    margin-top: -3.9px;
    @include breakpoint($from: "sm") {
      transform: scale(0.9);

      width: 100%;
    }
    @include breakpoint($from: "lg") {
      transform: scale(1.2);
      margin-top: 5px;
      width: 100%;
    }
  }
  .img-background:hover {
    background-color: rgba(255, 166, 0, 0.979);
  }
}
.green-box-title {
  border: 1px solid black;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: getColor("green", "dark");
  @include breakpoint($from: "sm") {
    font-size: 17px;
  }
  @include breakpoint($from: "lg") {
    font-size: 21px;
  }
}
.green-box {
  box-sizing: content-box;
  border: 1px solid black;
  padding: 10px;
  background-color: getColor("green");
  padding: 15px;
  padding-top: 0px;
  margin-bottom: 30px;
}

.green-box-text {
  p {
    font-size: 18px;
    line-height: 1.3;
    margin: 15px 0px;
    @include breakpoint($from: "sm") {
      font-size: 14.4px;
    }
    @include breakpoint($from: "md") {
      font-size: 15.8px;
    }
    @include breakpoint($from: "lg") {
      font-size: 20px;
    }
  }
}
.green-box-list {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  list-style-type: disc;
  @include breakpoint($from: "sm") {
    padding-left: 35px;
    font-size: 15px;
  }
  @include breakpoint($from: "sm") {
    padding-left: 35px;
    font-size: 16px;
  }
  @include breakpoint($from: "lg") {
    padding-left: 35px;
    font-size: 20px;
  }
}
.hears-how-header {
  font-size: 22px;
  @include breakpoint($from: "sm") {
    font-size: 21px;
    margin: 5px 0px;
  }
  @include breakpoint($from: "md") {
    font-size: 18px;
  }
  @include breakpoint($from: "lg") {
    font-size: 27px;
  }
}
.click-below {
  color: getColor("blue", "dark");
}

.span-text {
  font-size: 19px;
  @include breakpoint($from: "sm") {
    font-size: 15px;
    margin: 5px 0px;
  }
  @include breakpoint($from: "md") {
    font-size: 17px;
    margin: 5px 0px;
  }
  @include breakpoint($from: "lg") {
    font-size: 21px;
    margin: 5px 0px;
  }
  span {
    font-weight: bold;
    font-size: 22px;
    @include breakpoint($from: "sm") {
      font-size: 18px;
    }
    @include breakpoint($from: "md") {
      font-size: 20px;
    }
    @include breakpoint($from: "lg") {
      font-size: 24px;
    }
  }
}
.click-below-text {
  margin: 10px 0;
  font-size: 18px;
  @include breakpoint($from: "sm") {
    font-size: 14px;
  }
  @include breakpoint($from: "md") {
    font-size: 18px;
  }
  @include breakpoint($from: "lg") {
    font-size: 20px;
  }
}
.gender-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.gender-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  @include breakpoint($from: "sm") {
    width: 44%;
    padding: 0px 0px;
    margin-top: 10px;
  }
  @include breakpoint($from: "md") {
    width: 44%;
    padding: 0px 0px;
    margin-top: 10px;
  }
  @include breakpoint($from: "lg") {
    width: 46%;
    padding: 0px 10px;
    margin-top: 10px;
  }
  // img {
  //   padding: 9px;
  // }
  .male-img {
    margin-right: 12px;
    @include breakpoint($from: "sm") {
      height: 125px;
      padding-right: 5px;
      margin-left: 28px;
      width: 95px;
    }
    @include breakpoint($from: "md") {
      height: 165px;
      padding-right: 5px;
      margin-left: 28px;
      width: 120px;
    }
    @include breakpoint($from: "lg") {
      height: 225px;
      padding-right: 5px;
      margin-left: 28px;
      width: 150px;
    }
  }
  .female-img {
    margin-left: 12px;
    @include breakpoint($from: "sm") {
      height: 125px;
      padding-left: 5px;
      width: 95px;
      margin-right: 28px;
    }
    @include breakpoint($from: "md") {
      height: 165px;
      padding-left: 5px;
      width: 120px;
      margin-right: 28px;
    }
    @include breakpoint($from: "lg") {
      height: 225px;
      padding-left: 5px;
      width: 150px;
      margin-right: 28px;
    }
  }
}
.gender-button-captions {
  display: flex;
  flex-direction: column;
  @include breakpoint($from: "sm") {
    margin: 0px;
  }
  figcaption {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    @include breakpoint($from: "sm") {
      font-size: 26px;
      margin-top: 0px;
    }
    @include breakpoint($from: "md") {
      font-size: 32px;
      margin-top: 0px;
    }
  }
}
.female {
  color: rgb(236, 81, 107);
  padding-left: 14px;

  @include breakpoint($from: "sm") {
    padding-right: 22px;
  }
}
.male {
  color: rgb(60, 177, 245);
  padding-right: 10px;
  @include breakpoint($from: "sm") {
    padding-left: 22px;
  }
}
.learn-more {
  color: white;
  background-color: rgb(251, 122, 1);
  padding: 10px 15px;
  font-size: 21px;
  border-radius: 5px;

  font-weight: 800;
  font-family: "Lato", sans-serif;
  @include breakpoint($from: "sm") {
    padding: 16px 14px;
    margin: 5px 0px 6px 0px;
    font-size: 21px;
  }
  @include breakpoint($from: "md") {
    padding: 20px 25px;
    font-size: 25px;
  }
  @include breakpoint($from: "lg") {
    padding: 20px 25px;
    font-size: 32px;
  }
}

.slider {
  max-width: 100%;
  margin: 0 auto;
  @include breakpoint($from: "sm") {
    width: 230px;
  }
  @include breakpoint($from: "md") {
    margin: 0px 0px 0px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: 24%;
    height: 700px;
  }
  @include breakpoint($from: "lg") {
    margin: 0px 0px 0px 45px;
    width: 24%;
    height: 850px;
  }
}
