.fig-caption {
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  @include breakpoint($from: "lg") {
    font-size: 0.89rem;
  }
}
.container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;

  max-width: 1010px;
  box-sizing: border-box;
  padding: 0px 20px;
  @include breakpoint($from: "sm") {
    width: 94%;
    padding: 0px 22px;
  }
  @include breakpoint($from: "md") {
    width: 94%;
    padding: 0px 20px;
  }
}
.title {
  font-family: "Lato", sans-serif;
  h1 {
    font-family: "Lato", sans-serif;
    font-size: 35.5px;
    padding-right: 10px;
    font-weight: 900;
    @include breakpoint($from: "sm") {
      font-size: 2.25rem;
      padding: 0px;
    }
    @include breakpoint($from: "md") {
      font-size: 39px;
      padding: 0px;
    }
    @include breakpoint($from: "lg") {
      font-size: 46px;
      padding: 0px;
    }
  }
  p {
    font-weight: 510;
    @include breakpoint($from: "sm") {
      font-weight: 500;
      font-size: 1.12rem;
      padding: 0px;
    }
    @include breakpoint($from: "lg") {
      font-size: 1.58rem;
      font-weight: 500;
      padding: 0px;
    }
  }
  img {
    width: 100%;
    margin-top: -10px;
  }
}
h3 {
  color: getColor('blue', 'dark');
  font-size: 21.1px;
  font-weight: 900;
  padding-right: 10px;
  font-family: "Lato", sans-serif;
  @include breakpoint($from: "sm") {
    font-size: 21.7px;
    padding-right: 0px;
  }
  @include breakpoint($from: "md") {
    font-size: 23.7px;
    padding-right: 0px;
  }
  @include breakpoint($from: "lg") {
    font-size: 25px;
  }
}

.content-1 {
  u {
    color: $primary-color;
  }
  sup {
    font-size: 11px;
  }
  max-width: 800px;
  @include breakpoint($from: "md") {
    max-width: 900px;
  }
  @include breakpoint($from: "lg") {
    max-width: 1000px;
  }
}
.graph {
  img {
    display: flex;
    max-width: 100%;
    margin: 0 auto 15px auto;
    @include breakpoint($from: "sm") {
      display: flex;
      max-width: 54%;
      margin: 0 auto 15px auto;
    }
    @include breakpoint($from: "md") {
      display: flex;
      max-width: 51%;
      margin: 0 auto 18px auto;
    }
    @include breakpoint($from: "lg") {
      max-width: 50%;
      margin: 0 auto 20px auto;
    }
  }
}
.page-logo {
  display: flex;
  margin: 10px auto;
  width: 90%;
  margin: 15px 0px 30px 10px;
  @include breakpoint($from: "sm") {
    align-items: center;
    justify-content: center;
    width: 93%;
    margin: 20px 10px 30px 10px;
    padding: 0px 0px;
  }
  @include breakpoint($from: "md") {
    align-items: center;
    justify-content: center;
    width: 93%;
    margin: 20px 10px 40px 20px;
    padding: 0px 0px;
  }
  @include breakpoint($from: "lg") {
    align-items: center;
    justify-content: center;
    width: 380px;
    margin: 20px auto 40px auto;
    padding: 0px 0px;
  }
}
.map {
  width: 180px;
  margin: 30px auto;
  @include breakpoint($from: "sm") {
    width: 300px;
    padding: 0px 100px;
  }
  @include breakpoint($from: "md") {
    width: 410px;
    padding: 10px 100px;
  }
  @include breakpoint($from: "lg") {
    width: 490px;
    padding: 15px 100px;
  }
}
p {
  font-weight: 400;
  font-size: 18px;

  line-height: 1.6;
  @include breakpoint($from: "sm") {
    padding: 0px;
    font-size: 17.7px;
  }
  @include breakpoint($from: "md") {
    padding: 0px;
    font-size: 20px;
    padding: 0px;
  }
  @include breakpoint($from: "lg") {
    padding: 0px;
    font-size: 21px;
    padding-right: 5px;
  }
  b {
    font-weight: 900;
  }
}
sup {
  font-size: 11px;
}
